<form class="panel panel-primary">
    <div class="panel-heading">
        <h3>{{pageTitle}}</h3>
    </div>
    <div class='panel-body'>
        <div class='row'>
            <div class='col-lg-3'>
                <span>Address:</span><input type='text' />
            </div>
            <div class='col-lg-3'>
                <span>Price:</span><input type='text' />
            </div>
            <div class='col-lg-3'>
                <span>Sq Ft:</span><input type='text' />
            </div>
            <div class='col-lg-3'>
                <span>Lot size:</span><input type='text' />
            </div>
        </div>
        <div class='row'>
            <div class='col-lg-3'>
                <span>Type:</span><input type='text' />
            </div>
            <div class='col-lg-3'>
                <span>Beds:</span><input type='text' />
            </div>
            <div class='col-lg-3'>
                <span>Baths:</span><input type='text' />
            </div>
            <div class='col-lg-3'>
                <span>Min School Rating:</span><input type='text' />
            </div>
        </div>
        <div class='row'>
            <div class="col-lg-1">
                <span>Search</span><button id="searchBtn" ng-click="search"></button>
                <span>Reset</span><button id="resetBtn" ng-click="reset"></button>
            </div>                
        </div>
    </div>
</form>